h1 {font-style: oblique;}
h1 {text-align: center;}
h1 {color: indianred; }
p {color: indianred;font-size: smaller;text-align: center;}
h2,h3 {font-style: oblique;text-align: center;color: indianred;}
ol {font-style: normal;color: indianred;text-align:left;font-size:smaller}
ul {font-style: normal;color: indianred;text-align: left}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color:palevioletred;
}
nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-weight: bold;
    font-style: oblique;
}
body {
    background-color: #e9e786; /* Replace #f0f0f0 with the color you want */
}
